.projects__container {
    background: #E3E3DF;
    text-align: center;
    height: 100%;
    overflow: scroll;
}

.projects__title {
    color: #2e2e2e;
    font-weight: 500;
    font-size: 2rem;
    padding-top: 5rem;
    transition: transform .45s cubic-bezier(.694,.048,.335,1),opacity .32s,-webkit-transform .45s cubic-bezier(.694,.048,.335,1);
}

.projects__title::selection {
    background: #1c1d25;
    color: #f3f3f3;
    text-shadow: none;
}

.projects__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3rem;
}

.projects__list li{
    margin: auto;
    margin-bottom:6rem;
    width: 60%;
}

.projects__list #explorify {
    background-image: url(../../assets/explorify.png);
}

.projects__list #artly {
    background-image: url(../../assets/artly.png);
}

.projects__list #arclight {
    background-image: url(../../assets/arclight.jpg);
}

.projects__list #recipeio {
    background-image: url(../../assets/recipeio.png);
}

.projects__list .porfolio__item {
    display: block;
    width: 100%;
    height: 100%;
    height: 30rem;
    position: relative;
    margin: auto;
    box-shadow:0 20px 80px 0 rgba(0,0,0,.45);
    background-position:50%;
    background-color:#1c1d25;
    background-size:cover;
    background-repeat:no-repeat;
    
}

.projects__list .porfolio__item:before{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    display:block;
    content:" ";
    background:#1c1d25;
    opacity:.6;
    transition:opacity .3s ease;
    z-index:3
}

.projects__list .porfolio__item .porfolio__item__text {
    position: absolute;
    left: 6rem;
    bottom: 6rem;
    color: var(--color-white);
    z-index: 3;
    text-align: left;
    -webkit-transform:scale(1) translateX(0);
    transform:scale(1) translateX(0);
    transition:opacity .25s,-webkit-transform .45s;
    transition:transform .45s,opacity .25s;
    transition:transform .45s,opacity .25s,-webkit-transform .45s
}

.projects__list .porfolio__item .porfolio__item__text > h2 {
    font-weight: 500;
    font-size: 2.5rem;
}

.projects__list .porfolio__item .porfolio__item__text > h5 {
    font-weight: 400;
    font-size: 1rem;
    font-size: italic;
    padding-bottom: 0.5rem;
}

.projects__list .porfolio__item .porfolio__item__mask {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow: hidden;
    z-index:0;
}

.projects__list .porfolio__item .porfolio__item__mask:after{
    content:"";
    position:absolute;
    top:0;
    opacity:1;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(28,29,37,.9);
    background:linear-gradient(270deg,rgba(35,90,166,.9),rgba(16,27,59,.9));
    -webkit-transform:translateX(-100%);
    transform:translateX(-100%);
    transition:opacity .2s,-webkit-transform .35s cubic-bezier(.694,.048,.335,1) .2s;
    transition:transform .35s cubic-bezier(.694,.048,.335,1) .2s,opacity .2s;
    transition:transform .35s cubic-bezier(.694,.048,.335,1) .2s,opacity .2s,-webkit-transform .35s cubic-bezier(.694,.048,.335,1) .2s;
    z-index:9;
}

@media screen and (max-width: 1024px) {
    .projects__list li {
        width: 80%;
    }
}

/* =============== Media Queries (SMALL SCREENS) ================ */
@media screen and (max-width: 600px) {
    .projects__list li {
        width: 100%;
    }

    .projects__list .porfolio__item .porfolio__item__text {
        position: absolute;
        left: 2rem;
        bottom: 2rem;
        color: var(--color-white);
        z-index: 3;
        text-align: left;
    }

    .projects__list li{
        margin-bottom:0rem
    }
}

@media only screen and (min-width:1200px) {
    .projects__list li:nth-child(even) .porfolio__item{
        -webkit-transform:translateX(-3rem);
        transform:translateX(-3rem)
    }
    .projects__list li:nth-child(odd) .porfolio__item{
        -webkit-transform:translateX(3rem);
        transform:translateX(3rem)
    }

    .projects__list .porfolio__item .porfolio__item__text {
        opacity:1;
        -webkit-transform:scale(1) translateY(0);
        transform:scale(1) translateY(0);
        transition-delay:.4s
    }

    .projects__list .porfolio__item:hover .porfolio__item__text {
        -webkit-transform:scale(1.05);
        transform:scale(1.05)
    }

    .projects__list .porfolio__item:hover .porfolio__item__mask:after{
        -webkit-transform:translateX(0%);
        transform:translateX(0%);
    }
}


